*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-1: #fafbfc;
  --clr-primary-2: #245af9;
  --clr-primary-3: #5f656e;
  --clr-primary-4: #25aee4;
  --clr-primary-5: #0f3457;
  --clr-primary-6: #e6ebf0;
  --transition: 0.3s linear all;
  --radius: 0.5rem;

  --clr-background-1: #f0eff4;
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
  --max-width: 1170px;
  --bodyFont: Monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-page {
  display: grid;

  grid-template-columns: 15rem 1fr;
}
